<p style="color: green"><%= notice %></p>

<%= render @course_taken %>

<div>
  <%= link_to "Edit this course taken", edit_course_taken_path(@course_taken) %> |
  <%= link_to "Back to course takens", course_takens_path %>

  <%= button_to "Destroy this course taken", @course_taken, method: :delete %>
</div>
