<%= form_with(model: recommendation, local: true, class: 'needs-validation', novalidate: '') do |form| %>
  <% if recommendation.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
        <% recommendation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :instructor %>
    <%= form.text_field :instructor, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :student %>
    <%= form.text_field :user_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :section_number %>
    <%= form.text_field :section_number, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
