<div id="<%= dom_id recommendation %>" class="card mb-4">
  <div class="card-body">
    <p class="mb-1">
      <strong class="text-primary">Instructor:</strong>
      <%= recommendation.instructor %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Student:</strong>
      <%= recommendation.student %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Section number:</strong>
      <%= recommendation.section_number %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Comments:</strong>
      <%= recommendation.comments %>
    </p>
  </div>
</div>