<div class="alert alert-success" role="alert">
  <%= notice %>
</div>

<div class="container">
  <%= render @application %>

  <div>
    <h2>Course History</h2>
    <table id="coursesTable" class="table table-striped mt-3">
      <thead class="thead-light">
      <tr>
        <th class="text-center">Course</th>
        <th class="text-center">Grade</th>
      </tr>
      </thead>

      <tbody>
      <% @application.user.enrollments.each do |enrollment| %>
        <tr>
          <td class="text-center"><%= enrollment.course_name %></td>
          <td class="text-center"><%= enrollment.grade %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h2>Availabilities</h2>
    <table id="coursesTable" class="table table-striped mt-3">
      <thead class="thead-light">
      <tr>
        <th class="text-center">Day</th>
        <th class="text-center">Start Time</th>
        <th class="text-center">End Time</th>
      </tr>
      </thead>

      <tbody>
      <% @application.user.availabilities.each do |availability| %>
        <tr>
          <td class="text-center"><%= availability.day %></td>
          <td class="text-center"><%= availability.start_time.strftime("%I:%M %p") %></td>
          <td class="text-center"><%= availability.end_time.strftime("%I:%M %p") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to "Edit this application", edit_application_path(@application), class: "btn btn-primary" %>
    <%= link_to "Back to applications", applications_path, class: "btn btn-secondary" %>

    <%= button_to "Destroy this application", @application, method: :delete, class: "btn btn-danger" %>

    <% if current_user.role == "Admin" || current_user.role == "Instructor" %>
      <%= form_with(url: application_path(@application), method: :patch) do %>
        <%= hidden_field_tag :approved, true %>
        <%= submit_tag "Approve", class: "btn btn-success" %>
      <% end %>
    <% end %>
  </div>
</div>