<h1>Admin Portal</h1>
<hr/>

<% if current_user.role == 'Admin' && current_user.is_approved == true %>
  <h2>Courses Needing Graders</h2>
  <table id="gradersTable" class="table mt-3">
    <thead>
    <tr id="graderHeaderRow">
      <th class="text-center">Section Number</th>
      <th class="text-center">Name</th>
      <th class="text-center">Course Number</th>
      <th class="text-center">Term</th>
      <th class="text-center">Current Graders</th>
      <th class="text-center">Graders Required</th>
    </tr>
    </thead>
    <tbody>
    <% @sections.where('graders < graders_required').each do |section| %>
      <tr>
        <td class="text-center"><%= section.section_number %></td>
        <td class="text-center"><%= section.course.name %></td>
        <td class="text-center"><%= section.course.course_number %></td>
        <td class="text-center"><%= section.term %></td>
        <td class="text-center"><%= section.graders %></td>
        <td class="text-center"><%= section.graders_required %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>

  <h2>Users</h2>
  <table id="coursesTable" class="table mt-3">
    <thead>
    <tr id="headerRow">
      <th class="text-center">Email</th>
      <th class="text-center">First</th>
      <th class="text-center">Last</th>
      <th class="text-center">Role</th>
      <th class="text-center">Approved</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-center"><%= user.email %></td>
        <td class="text-center"><%= user.first_name %></td>
        <td class="text-center"><%= user.last_name %></td>
        <td class="text-center"><%= user.role %></td>
        <td class="text-center"><%= user.is_approved %></td>
<!--        <td class="text-center">-->
<!--          <div class="container">-->
<!--            <div class="row">-->
<!--              <div class="column">-->
<!--                <div class="col">-->
                  <%#= link_to "Show this Application", application, class: "btn btn-primary btn-block" %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>

  <h2>Applications (Pending)</h2>
  <table id="coursesTable" class="table mt-3">
    <thead>
    <tr id="headerRow">
      <th class="text-center">Course Number</th>
      <th class="text-center">Term</th>
      <th class="text-center">Name</th>
      <th class="text-center">Subject</th>
      <th class="text-center">User</th>
      <th class="text-center">Approved</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>

    <tbody>
    <% @applications.where(approved: false).each do |application| %>
      <tr>
        <td class="text-center"><%= application.course.course_number %></td>
        <td class="text-center"><%= application.course.term %></td>
        <td class="text-center"><%= application.course.name %></td>
        <td class="text-center"><%= application.course.subject %></td>
        <td class="text-center"><%= application.user.email %></td>
        <td class="text-center"><%= application.approved %></td>
        <td class="text-center">
          <div class="container">
            <div class="row">
              <div class="column">
                <div class="col">
                  <%= link_to "Show this Application", application, class: "btn btn-primary btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>

  <h2>Applications (Approved)</h2>
  <table id="coursesTable" class="table mt-3">
    <thead>
    <tr id="headerRow">
      <th class="text-center">Course Number</th>
      <th class="text-center">Term</th>
      <th class="text-center">Name</th>
      <th class="text-center">Subject</th>
      <th class="text-center">User</th>
      <th class="text-center">Approved</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>

    <tbody>
    <% @applications.where(approved: true).each do |application| %>
      <tr>
        <td class="text-center"><%= application.course.course_number %></td>
        <td class="text-center"><%= application.course.term %></td>
        <td class="text-center"><%= application.course.name %></td>
        <td class="text-center"><%= application.course.subject %></td>
        <td class="text-center"><%= application.user.email %></td>
        <td class="text-center"><%= application.approved %></td>
        <td class="text-center">
          <div class="container">
            <div class="row">
              <div class="column">
                <div class="col">
                  <%= link_to "Show this Application", application, class: "btn btn-primary btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>