<div id="<%= dom_id user %>" class="card mb-4">
  <div class="card-body">
    <p class="mb-1">
      <strong class="text-primary">Email:</strong>
      <%= user.email %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">First name:</strong>
      <%= user.first_name %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Last name:</strong>
      <%= user.last_name %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Role:</strong>
      <%= user.role %>
    </p>

    <p>
      <strong class="text-primary">Is approved:</strong>
      <%= user.is_approved ? 'Yes' : 'No' %>
    </p>
  </div>
</div>