<div class="container my-5">
  <div class="card">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <div class="card-body">
      <%= render @user %>
    </div>

    <div class="card-footer d-flex align-items-center justify-content-between">
      <%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-warning' %>
      <%= link_to "Back to users", users_path, class: 'btn btn-secondary' %>
      <%= button_to "Destroy this user", @user, class: 'btn btn-danger', method: :delete %>
    </div>
  </div>
</div>