<div id="<%= dom_id section %>">
  <p>
    <strong>Section number:</strong>
    <%= section.section_number %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= section.term %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= section.instructor %>
  </p>

  <p>
    <strong>Days times:</strong>
    <%= section.days_times %>
  </p>

  <p>
    <strong>Instruction mode:</strong>
    <%= section.instruction_mode %>
  </p>

  <p>
    <strong>Graders:</strong>
    <%= section.graders %>
  </p>

  <p>
    <strong>Graders required:</strong>
    <%= section.graders_required %>
  </p>

</div>
