<div id="<%= dom_id section %>" class="card mb-4">
  <div class="card-body">
    <p class="mb-1">
      <strong class="text-primary">Section number:</strong>
      <%= section.section_number %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Term:</strong>
      <%= section.term %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Instructor:</strong>
      <%= section.instructor %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Days:</strong>
      <%= section.days %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Start Time:</strong>
      <%= section.start_time %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">End Time:</strong>
      <%= section.end_time %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Instruction mode:</strong>
      <%= section.instruction_mode %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Graders:</strong>
      <%= section.graders %>
    </p>

    <p>
      <strong class="text-primary">Graders required:</strong>
      <%= section.graders_required %>
    </p>

  </div>
</div>