<div class="container my-5">
  <div class="card">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <div class="card-body">
      <%= render @section %>
    </div>

    <div class="card-footer d-flex align-items-center justify-content-between">
      <%= link_to "Edit this section", edit_section_path(@section), class: 'btn btn-warning' %>
      <%= link_to "Back to sections", sections_path, class: 'btn btn-secondary' %>
      <%= button_to "Destroy this section", @section, class: 'btn btn-danger', method: :delete %>
    </div>
  </div>
</div>