<div id="<%= dom_id course %>">
  <p>
    <strong>Course number:</strong>
    <%= course.course_number %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= course.level %>
  </p>

</div>
