<p style="color: green"><%= notice %></p>

<h1 class="text-center"><%= @course.subject %> <%= @course.course_number %> - <%= @course.name %></h1>

<div class="card mb-3">
  <div class="card-body">
    <p class="card-text">Course Name: <%= @course.subject %> <%= @course.course_number %> - <%= @course.name %></p>
    <p class="card-text">
    <p class="text-muted">Description: <%= @course.description %></p>
  </div>
</div>

<div class="mt-3">
  <table class="table">
    <thead>
    <tr>
      <th>Section Number</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Days of Week</th>
      <th>Instruction Mode</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @course.sections.each do |section| %>
      <tr>
        <td><%= section.section_number %></td>
        <td><%= section.start_time %>
        <td><%= section.end_time %></td>
        <td><%= section.days %></td>
        <td><%= section.instruction_mode %></td>
        <td class="text-center">
          <div class="container">
            <div class="row">
              <div class="column">
                <div class="col">
                  <% if current_user.role == "Admin" %>
                    <%= link_to "Edit this Section", edit_section_path(section), class: "btn btn-primary btn-block" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-start px-4 mt-3">
  <%= link_to "Show sections", sections_path(@course.sections), class: 'btn btn-info mr-2' %>
  <%= link_to "Edit this course", edit_course_path(@course), class: 'btn btn-primary mr-2' %>
  <%= link_to "Back to courses", courses_path, class: 'btn btn-secondary mr-2' %>
  <%= button_to "Delete this course", @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>