<div id="<%= dom_id availability %>" class="card mb-4">
  <div class="card-body">
    <p class="mb-1">
      <strong class="text-primary">Student:</strong>
      <%= availability.student %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Term:</strong>
      <%= availability.term %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Day:</strong>
      <%= availability.day %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">Start time:</strong>
      <%= availability.start_time %>
    </p>

    <p class="mb-1">
      <strong class="text-primary">End time:</strong>
      <%= availability.end_time %>
    </p>
  </div>
</div>