<div id="<%= dom_id availability %>">
  <p>
    <strong>Student:</strong>
    <%= availability.student %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= availability.term %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= availability.day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= availability.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= availability.end_time %>
  </p>

</div>
