<header>
  <nav>
    <h1>CSE 3901 - Team 6</h1>
    <% if user_signed_in? %>
      <div class="buttons">
        <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Applications', applications_path, class: 'btn btn-primary' %>
        <%= link_to 'Course History', enrollments_path, class: 'btn btn-primary' %>
        <%= link_to 'Availability', availabilities_path, class: 'btn btn-primary' %>
        <% if current_user.role == "Admin" %>
          <%= link_to 'Admin Portal', admin_index_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <p>Welcome, <%= current_user.email %>!</p>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </nav>
</header>
